{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account/change_password.css') }}">
{% endblock %}

{% block title %}Password{% endblock %}

{% block headers %} {% endblock %}

{% block additinal_nav%} {% endblock %}

{% block content %}
<main>
  <section>
    <div id="content">

    </div>
    <h2 class="account-title">My Account</h2>
    <div class="account-box">
      <div>
        <select id="accountState" name="account" class="form-select">
          <option value="profile">Profile</option>
          <option value="password" selected>Password</option>
          <option value="notification">Notification</option>
          <option value="my-task">My Task</option>
        </select>
      </div>
  
      <div class="account-subheading">
        <p class="subtitle">Change Password</p>
        <div class="edit-button"><button type="submit" id="edit" class="btn btn-outline-info mt-3">Edit</button></div>
      </div>
  
      <div class="account-details">
        <p class="password"> Current Password: *****</p>
      </div>
    </div>
    
      
    
  </section>
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/account/change_password.js') }}"></script>
{% endblock %}
