

.account-title {
    font-size: 2.5em;
    font-weight: bold;
}

.account-box {
    border: 1px solid #cccc;
    padding: 18px;
}


.account-subheading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #cccc;
}

.account-subheading .subtitle {
    font-weight: bold;
    font-size: 2em;
}

.account-subheading .edit-button {
    margin-bottom: 10px;
}



.account-details {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.submit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #cccc;

}