/* Reset and Basic Styles */

.main-cont {
    margin-top: 60px;
}

.h1-heading {
    margin: 0 50px 30px 50px;
    text-align: center;
}
.mini-video-contn {
    margin-top: 30px;

}
.hero-video {
    text-align: center;
    width: 100%;
    border: 1px solid #cccccc;
    padding-top: 7px;
    background-color: #eeeeee;
}

.scroll-container {
    width: 100%; /* Adjust as needed */
    overflow-x: scroll; /* Enables horizontal scrollbar */
    white-space: nowrap; /* Prevents content from wrapping */
    display: flex; /* Use flex to enable horizontal scrolling */
    margin-top: 50px;
    
}

.item {
    display: grid;
    grid-template-rows: auto auto; /* Two rows for vertical stacking */
    
}

.service-icon {
    margin: 0px 10px 10px 10px;
    text-align: center;
}

.service-icon img {
    width: 35px;
    height: 35px;
}

.sub-item {
 
    text-align: center;
    padding: 2px;
    margin: 0px 10px 10px 10px; /* Spacing between sub-items */
    cursor: pointer;
}

.service-subtype {
    display: flex;
}

.subtype-item {
    margin: 40px 10px 0 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 40px;
}

/* Service picture $ description  */

.content {
    display: none;
    margin-top: 0px;
}

.content2-contn {
    margin-top: 40px;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 255, 255);
    height: min-content;
}

.image {
    margin: 30px 30px 30px 0;
    width: 65%;
    
}

.text-overlay {
    position: absolute;
    width: 45%;
    right: 0;
    background-color: #f4f4f4;
    padding: 40px 10px 30px 10px;
    margin-right: 30px;

}

.text-overlay .name {
    font-size: medium;
    font-weight: 700;
}

.text-overlay .description {
    font-size: 1em;
}

/* Popular tasks definition*/
.popular-tasks {
    margin-top: 40px;
}

.popular-tasks .title {
    
    font-weight: 700;
}

.cards-contn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 15px;
    row-gap: 30px;
}

.task-card {
    width: 10em;
    border: 0.5px #cccccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0.5px 0.5px 2px 2px #cccccc;

}

.rating {
    color: gold;
}

/* How it works section*/
.how-it-works-contn {
    margin-top: 40px;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    height: min-content;
}
.image {
    margin: 20px;
    width: 85%;
    
}

.text-overlay {
    position: absolute;
    width: 45%;
    right: 0;
    background-color: #e4e4e4;
    padding: 5px;
    margin-right: 10px;

}

.text-overlay .title {
    font-size: inherit;
    font-weight: 700;
    text-align: start;
    
}

.text-overlay .steps {
    font-size: 0.85em;
    margin-top: 0;
  

}

/* random services list definition*/
.subservices-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    

}

.subtype-item {
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 20px;
}



 /* Styles for tablets */
@media (min-width: 600px) and (max-width: 1022px) {
    
    /* Popular tasks definition*/
    .popular-tasks {
        margin-top: 30px;
    }

    .popular-tasks .title {
        font-weight: 700;
    }

    .cards-contn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 15px;
        row-gap: 30px;
    }

    .task-card {
        width: 14rem;
        border: 0.5px #cccccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0.5px 0.5px 2px 2px #cccccc;

    }

    /* Service picture $ description  */

    .content {
        display: none;
        margin-top: 0px;
    }

    .content2-contn {
        margin-top: 40px;
        position: relative;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        background-color: rgb(198, 255, 255);
        height: min-content;
    }

    .image {
        margin: 30px 30px 30px 0;
        width: 65%;
        
    }

    .text-overlay {
        position: absolute;
        width: 45%;
        right: 0;
        background-color: #f4f4f4;
        padding: 40px 10px 30px 10px;
        margin-right: 30px;
        

    }

    .text-overlay .name {
        font-size: 1.5em;
        font-weight: 800;
        text-align: start;
        font-family: Cambria;
        
    }

    .text-overlay .description {
        font-size: 1.2em;
        font-family: monospace;
    }

    /* How it works section*/
    .text-overlay .title {
        font-size: 1.5em;
        font-weight: 800;
        text-align: start;
        margin-top: 10px;
        font-family: Cambria;
        
    }
    
    .text-overlay .steps {
        font-size: 1.2em;
        line-height: 2em;
       
        font-family: monospace;
        
      
    
    }
}


/* Styles for desktops */
@media (min-width: 1024px) {
    /* Popular tasks definition*/
    .popular-tasks {
        margin-top: 30px;
    }

    .popular-tasks .title {
        font-weight: 700;
    }

    .cards-contn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 15px;
        row-gap: 30px;
    }

    .task-card {
        width: 16rem;
        border: 0.5px #cccccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0.5px 0.5px 2px 2px #cccccc;

    }
}
