/* Artisan logo and progress bar*/

.bar-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid #cccccc;
    padding: 20px;    
}

.logo {
    height: 50px;
    width: 50px;
}
.progress-item {
    flex-grow: 1;
    align-self: center;
    margin-left: 10px;
    height: 20px;

}

.task-headline {
    padding: 20px;
    border: 1px solid #cccccc;
    font-weight: 400;

}

/* Artisan details */
.container-detail1 {
    border: 1px solid #eeeeee;
    padding: 10px;
}

.artisan-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #eeeeee;
    column-gap: 3px;
    border: 1px solid #cccccc;
}

.service-type {
    font-weight: 700;
    font-size: 1.5em;
}

.artisan-picture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #faf7f7;
}

.artisan-name {
    font-size: 1em;
    font-weight: 300;
}

/* Task details and description box */
.task-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
    column-gap: 5px;
    margin-top: 20px;
    border-bottom: 1px solid #cccccc;
}

.artisan-min-time {
    padding: 5px;
    border: 1px solid #cccccc;
    background-color: rgb(236, 236, 236);
}

.task-description {
    margin: 30px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    
}

/* Pricing box styles*/
.rate-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.rate-item {
    display: flex;
    justify-content: space-between;
}

.label {
    flex: 1;
    text-align: left;
}

.value {
    flex: 1;
    text-align: right;
}

.info-txt {
    font-size: 1em;
    color: #666666;
    margin-top: 20px;
}

/* Payment method styles*/
.payment-box  {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    border: 1px solid #cccccc;
    padding: 10px;

}

.confirm-btn {
    text-align: center;
    width: 100%;
}

/* Recaptcha box styles settings*/

.recaptcha-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
    
/* Modal settings for spinner*/
.container-spinner {
    display: block;
    position: fixed;
    right: 40%;
    top: 40%;
    z-index: 1;
}
.spinner-loader {
    width: 5rem;
    height: 5rem;
}

.blurred {
    filter: blur(2px);
} 